* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: #282c34;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.App-body {
  padding: 20px;
}

.user-card {
  border-radius: 5px;
  width: 200px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.user-card img {
  border-radius: 50%;
}
